* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Mono', monospace;
*/

body {
  font-family: "Roboto Mono", monospace;
  font-size: 2.1rem;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
}

h2 {
  font-size: 6rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
}
